<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: Adobe (2018) Adobe PhoneGap Build. [Online] Available at: https://build.phonegap.com/docs/config-xml. [Accessed 3rd February 2018].-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mob.app.dev.lifecycle"
        version   = "1.0.0">

    <name>MathsBoss</name>

    <description>
        A maths learning tool.
    </description>

    <author>
        Christopher Hewlett
    </author>

    <preference name="phonegap-version" value="cli-7.0.1" />
	
    <preference name="permissions"                value="none"/>   
	
	<access origin="*"/>
	
	<plugin name="cordova-plugin-dialogs" version="1"/> <!--Apache Cordova (2018) Dialogs - Apache Cordova. [Online] Available at: https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-dialogs/. [Accessed 26th February 2018].-->
	
	<plugin name="cordova-plugin-vibration" version="1"/> <!--Apache Cordova (2018) Vibration - Apache Cordova. [Online] Available at: https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-vibration/. [Accessed 26th February 2018].-->
	
	<plugin spec="https://github.com/fiscal-cliff/phonegap-plugin-brightness.git" source="git"/> <!--Fiscal-Cliff (2018) GitHub - fiscal-cliff/phonegap-plugin-brightness: A phonegap 3.x plugin for brightness control within android and ios. [Online] Available at: https://github.com/fiscal-cliff/phonegap-plugin-brightness. [Accessed 1st March 2018].-->
</widget>
